
.more-info {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15vh;
  min-height: 100vh;
  position: relative;
}

.more-info::before {
  content: "";
  position: absolute;
  background-attachment: fixed;
  background-size: cover;
  top: 0;
  left: 0;
  background-position: center center;
  bottom: 0;
  right: 0;
  z-index: -2; /* Assurez-vous que l'overlay est au-dessus de l'image */
  background-image: url(../images/3rd-big-item.jpg);
  filter:blur(4px);
}

.more-info::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Noir semi-transparent */
  z-index: -1; /* Assurez-vous que l'overlay est au-dessus de l'image */
}

/* Si vous voulez superposer du texte par dessus l'overlay */
.more-info p {
  position: relative;
  z-index: 2; /* Mettez le texte au-dessus de l'overlay */
  color: white;
}
.more-info .left-text h4 {
  font-size: 24px;
  font-weight: 500;
  color: #fff;
}

h4, .h4 {
  font-size: 18px;
}

.more-info .left-text .line-dec {
  width: 45px;
  height: 3px;
  background-image: linear-gradient(to right,#2c9be4b3,#3663bcb3,#3a008fb3);
  margin: 20px 0px 20px 0px;
}

.more-info .left-text p {
  color: #fff;
}

.more-info .left-text ul {
  padding: 0;
  margin-top: 30px;
  list-style: none;
}

.more-info .left-text ul li {
  margin: 15px 0px;
  font-weight: 600;
  color: #fff;
}

.more-info .left-text .primary-button {
  margin: 30px 0px;
}

.more-info .value-item {
  padding: 25px 30px;
  text-align: center;
  color: #fff;
  margin-bottom: 30px;
  border-radius:6px;
}

.more-info .value-item h4 {
    text-transform:uppercase;
}

div[item="4"] {
  background-color: rgba(58, 0, 143, 0.7);
}

div[item="3"] {
  background-color: rgba(54, 99, 188, 0.7);
}

div[item="2"] {
  background-color: rgba(44, 155, 228, 0.7);
}

div[item="1"] {
    background-color: rgba(255, 255, 255, 0.7);
}
div[item="1"] p, div[item="1"] {
    color: #422 !important;
}

.more-info .value-item .line-dec {
  width: 45px;
  height: 3px;
  background-image: linear-gradient(to right,#2c9be4b3,#3663bcb3,#3a008fb3);
  margin: 20px auto 15px auto;
}

/*  */