
@media (max-width: 768px) {
    .services .tabs  {
        overflow: auto;
    }

    .services .tabs li.col  {
        flex: 0 0 80%;
        width: 80%;
    }
}

@media (max-width: 992px) {
    .services .tabs  {
        overflow: auto;
    }

    .services .tabs li.col  {
        flex: 0 0 75%;
        width: 75%;
    }
}


.services {
  background-color: #fff;
  padding-bottom: 80px;
  margin-top: 72px;
  margin-bottom: 100px;
}

.services .tabs li a {
  text-decoration: none;
  color: #121212;
}

.services .tabs .active .list-item {
  background-color: #f2745f!important;
  color: #fff!important;
}

.services .tabs .active .list-item .icon {
  background-color: #fff;
}

.services .list-item {
  border-radius: 0.8em;
  background-color: #f4f4f4;
  text-align: center;
  padding: 40px 0px;
  margin: 15px 0px;
  transition: all 0.5s;
}

.services .list-item .icon {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  line-height: 90px;
  background-color: transparent;
}
.services .list-item .icon img {
    width: 100%;
    height: 100%;
    position: relative;
	overflow: hidden;
}

.services .list-item h4 {
  margin-top: 20px;
  margin-bottom: 0px;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
}

.services .tab-content-services {
  margin-top: 60px;
}

.services .tab-content-services .right-image img {
  width: 100%;
  overflow: hidden;
}

.services .tab-content-services .left-text h4 {
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 0px;
  margin-bottom: 20px;
}

.services .tab-content-services .left-text p {
  color: #7a7a7a;
}

.services .tab-content-services .left-text .primary-button {
  margin-top: 35px;
  margin-bottom: 50px;
}

